@font-face { font-family: Russia; src: url(../fonts/Russia.ttf);}
@font-face { font-family: Russia; src: url(../fonts/Russiabold.ttf);}
@font-face { font-family: MetaPro; src: url(../fonts/MetaPro.ttf);}
html {margin: 0;padding: 0px; border:0px; background: url(../images/bg.jpg); }
body {margin: 0;padding: 0px; border:0px; width: 1024px; margin:0 auto;}
  header {display:block; position:relative; width:100%; height:100px; border-left:3px solid #a4d4cb; border-right:3px solid #a4d4cb; border-bottom:3px solid #a4d4cb; background: url(../images/headerbg.jpg); }
  header .logo {display:block; position:relative; float:left; width:293px; height:62px; margin:22px 0 0 35px}
  header .mileage {margin: 0;padding: 0px; border:0px;display:block; position:relative; float:left; width:300px;height:60px; text-align:center; margin: 22px 0 0 0;}
    header .mileage .title {margin: 0;padding: 0px; border:0px; width:100%; height:auto;}
      header .mileage .title p{font-family: Russia; font-size: 20px; font-weight: 400;}
    header .mileage .km {margin: 0;padding: 0px; border:0px; width:100%; height:auto;}
      header .mileage .km p{font-family: Russia; font-size: 30px; font-weight: 400;}
    header .mileage .km, header .mileage p{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative;}
      header .mileage .white {color:  #f4f4f4;}
      header .mileage .green {color:  #a4d4cb;}
  header .rightwrapper {display:block; position:relative; float:right; width:273px; height:63px; margin: 36px 35px 0 0;}
    header .rightwrapper #hl-search{display:block; position:relative;}
      header .rightwrapper #hl-search form p {margin: 0;padding: 0px; border:0px;}
        header .rightwrapper #hl-search form p input{margin: 0;padding: 0px; border:0px;  background-color:  #ffffff;}
        header .rightwrapper #hl-search form p input::-webkit-input-placeholder{color:  #585858;}
        header .rightwrapper #hl-search form p input:-moz-placeholder{color:  #585858;}
      header .rightwrapper #hl-search .searchinput{background-color:  #ffffff; border-radius: 3px 0 0 3px; width: 243px; height: 26px; padding-left: 10px; font-family: Russia; color:  #585858; font-size: 16px; font-weight: 400;}
      header .rightwrapper #hl-search #searchsubmit{border-radius: 0 3px 3px 0;  width: 30px; height: 26px; background: 50% 50% url(../images/search.png) no-repeat #ffffff;}
  header .rightwrapper #menu{display:block; position:relative; width:100%; height:20px; margin-top: 12px;}
    header .rightwrapper #menu ul{margin: 0;padding: 0px; border:0px; float: right;}
      header .rightwrapper #menu ul li{margin: 0;padding: 0px; border:0px; list-style:none; float: left; height:14px; border-right:2px solid #a094be;}
        header .rightwrapper #menu ul li a{font-family: Russia; color:  #beb1df; font-size: 14px; font-weight: 400; text-decoration: none; margin:0 15px; vertical-align: top;}
      header .rightwrapper #menu .lastlink {border:0px;}
        header .rightwrapper #menu .lastlink a{margin:0px; margin-left:15px;}
  #block1 {display:block; position:relative; width:100%; height:400px; border-left:3px solid #e3d69e; border-right:3px solid #e3d69e; background-color: #f4f4f4; }
    #block1 .wrap {margin: 0 35px 0 35px; padding:25px 0 0 0}
    #block1 .wrap .setting {display:block; position:relative; float:left;}
    #block1 .wrap .information {display:block; position:relative; float:left; width:220px; margin: 10px 0 0 -15px;}
      #block1 .wrap .information .avatarka{display:block; position:relative; width:220px; height:220px; border-radius:110px; background-color: #e5e5e5; box-shadow: 0px 0px 70px 0px rgba(50, 50, 50, 0.65); z-index: 2;}
      #block1 .wrap .information .info {display:block; position:relative; width:220px; height:100px; text-align:center; margin-top:30px; line-height: 30px;}
        #block1 .wrap .information .info .name{font-family: Russia; color:  #000000; font-size: 25px; font-weight: 400;}
        #block1 .wrap .information .info .place{font-family: MetaPro; color:  #585353; font-size: 17px; font-weight: 400; font-style: italic;}
        #block1 .wrap .information .info .age{font-family: Russia; color:  #666161; font-size: 20px; font-weight: 400;}
    #block1 .wrap .talk {position:absolute; margin: 0 0 0 200px;}     
      #block1 .wrap .talk span{display:block; position:relative; background-color: #ffffff; padding: 7px 25px 12px 25px; font-family: Russia; color:  #585353; font-size: 14px; font-weight: 400; margin-left: 82px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);}  
    #block1 .wrap .elips {position:absolute; width:77px; height:77px; border-radius:50%; background-color:#ffffff; z-index:3; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);} 
      #block1 .wrap .punktir{position:absolute; width:72px; height:1px; border-top: 1px dashed #000;}
      #block1 .wrap .run {margin: 140px 0 0 200px; text-align:center;  background:50% 50% url(../images/man.png) no-repeat #ffffff}
        #block1 .wrap .run p{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; margin-top:90px; font-family: Russia; font-size: 20px;font-weight: 400;}
        #block1 .wrap .run .brown{color:  #a14530;}
        #block1 .wrap .run .purple{color:  #9084af;}
        #block1 .wrap .punrun{width:72px; height:1px; margin: 140px 0 0 265px; transform: rotate(-34deg); -moz-transform: rotate(-34deg); -ms-transform: rotate(-34deg); -webkit-transform: rotate(-34deg); -o-transform: rotate(-34deg); transform: rotate(-34deg);}
      #block1 .wrap .social {margin: 60px 0 0 325px; text-align:center;  background:50% 50% url(../images/social.png) no-repeat #ffffff}
        #block1 .wrap .social .bottom {margin: 0;padding: 0px; border:0px;display:block; position:relative; width:9px; height:6px; margin:0 auto; margin-top:50px; cursor:pointer;}
        #block1 .wrap .punsoc{width:72px; height:1px; margin: 140px 0 0 390px; transform: rotate(34deg); -moz-transform: rotate(34deg); -ms-transform: rotate(34deg); -webkit-transform: rotate(34deg); -o-transform: rotate(34deg); transform: rotate(34deg);}
      #block1 .wrap .blog {margin: 140px 0 0 450px; text-align:center;  background:50% 50% url(../images/blog.png) no-repeat #ffffff}
        #block1 .wrap .punstat{width:72px; height:1px; margin: 140px 0 0 515px; transform: rotate(-34deg); -moz-transform: rotate(-34deg); -ms-transform: rotate(-34deg); -webkit-transform: rotate(-34deg); -o-transform: rotate(-34deg); transform: rotate(-34deg);}
      #block1 .wrap .statistics {margin: 60px 0 0 575px; text-align:center;  background:50% 50% url(../images/statistics.png) no-repeat #ffffff}
        #block1 .wrap .punprog{width:72px; height:1px; margin: 215px 0 0 500px; transform: rotate(40deg); -moz-transform: rotate(40deg); -ms-transform: rotate(40deg); -webkit-transform: rotate(40deg); -o-transform: rotate(40deg); transform: rotate(40deg);}
      #block1 .wrap .progress {margin: 220px 0 0 555px; width:72px; height:72px;  text-align:center;  background:50% 50% url(../images/progress.png) no-repeat #ffffff}
    #block1 .wrap .goal {display:block; position:relative; float:right; width:260px; height:270px; margin-top: 20px;}
    #block1 .wrap .goal .title{display:block; position:relative; width:260px; height:40px;}
      #block1 .wrap .goal p, #block1 .wrap .goal img{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; font-family: Russia; color:  #000000; font-size: 22px; font-weight: 400; }
      #block1 .wrap .goal p {padding:0px 54px}
    #block1 .wrap .goal .list{display:block; position:relative; width:260px; height:233px; border-radius: 0 0 3px 3px; background-color:#9495b5; padding-top: 2px;}
      #block1 .wrap .goal .list .content{display:block; position:relative; width:258px; height:195px; background-color:#f4f4f4;}
      #block1 .wrap .goal .list .content ul{margin: 0;padding: 0px; border:0px; display:block; position:relative; width:258px; height:190px;}
        #block1 .wrap .goal .list .content ul li{margin: 0;padding: 0px; border:0px; list-style:none; display:block; position:relative; width:258px; min-height:30px; margin-bottom:3px}
        #block1 .wrap .goal .list .content ul li div{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; vertical-align:top;}
        #block1 .wrap .goal .list .content .number{width:30px; height:30px; text-align: center; font-family: Russia; color:  #ffffff; font-size: 14px; line-height: 30px;}
          #block1 .wrap .goal .list .content .n{background-color:#9495b5;}
          #block1 .wrap .goal .list .content .ch{background-color:#a4d4cb;}
        #block1 .wrap .goal .list .content .purpose{width:192px; min-height:30px; text-align: center; background-color:#ffffff; font-family: Russia; line-height: 30px; color:  #000000; font-size: 14px; margin: 0 3px;}
        #block1 .wrap .goal .list .content .done{width:30px; min-height:30px; background-color:#ffffff;}
        #block1 .wrap .goal .list .content .active{background-image:url(../images/done.png); background-repeat: no-repeat; background-position: 50% 50%;}
      #block1 .wrap .goal .list .bottom{margin: 0;padding: 0px; border:0px;display:block; position:relative; width:258px; height:30px; text-align: center; margin-top:7px; cursor:pointer;}
  #block2 {display:block; position:relative; width:100%; height:auto; border-left:3px solid #9084af; border-right:3px solid #9084af; background-color: #f4f4f4; }
    #block2 .wrap {margin: 0 35px 0 35px; padding:15px 0 0 0}
      #block2 .wrap .meeting {display:block; position:relative; width:954px; height: 250px;}
      #block2 .wrap .calendar {display:block; position:relative; z-index:2; float: left; width:258px; height:246px; background-image:url(../images/bgcalendar.png); border-radius:10px; box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);}
        #block2 .wrap .calendar #datepicker {display:block; position:relative; width:258px; height:246px;}
          #block2 .wrap .calendar #datepicker .ui-datepicker {display:block; position:relative; width:258px; height:246px;}
            #block2 .wrap .calendar #datepicker .ui-datepicker .ui-datepicker-header {display:block; position:relative; width:258px; height:60px;}
            #block2 .wrap .calendar #datepicker .ui-datepicker .ui-datepicker-calendar {width:258px; height:160px;}
            #block2 .wrap .calendar #datepicker .ui-datepicker .ui-datepicker-calendar  thead{display:none;}
            #block2 .wrap .calendar #datepicker .ui-datepicker .ui-datepicker-calendar  tbody{width:258px; height:160px;}
            #block2 .wrap .calendar #datepicker .ui-datepicker .ui-datepicker-calendar  tbody tr td{width:20px; height:20px; background-color:#cfcfcf;}
      #block2 .wrap .arc {display:block; position:absolute; width:480px; height:166px; margin: 80px 0 0 230px; overflow:hidden; z-index:1;}
        #block2 .wrap .arc .oval{display:block; position:relative; width:650px; height:650px; margin-left: -85px; border: 10px solid #88b8af; -moz-border-radius: 650px / 650px; -webkit-border-radius: 650px / 650px; border-radius: 650px / 650px;}
        #block2 .wrap .arc .starttime {display:block; position:absolute; width:40px; height:auto; bottom:0; left:45px; z-index:2; text-align:center; font-family: Calibri; color:  #9c3e29; font-size: 12px; font-weight:bold;}
          #block2 .wrap .arc .starttime .line{display:block; position:relative; width:1px; height:96px; border-left:1px solid #000000; margin: 0 auto;}
        #block2 .wrap .arc .endtime {display:block; position:absolute; width:40px; height:auto; bottom:0; right:30px; z-index:2; text-align:center; font-family: Calibri; color:  #9c3e29; font-size: 12px; font-weight:bold;}
          #block2 .wrap .arc .endtime .line{display:block; position:relative; width:1px; height:100px; border-left:1px solid #000000; margin: 0 auto;}
        #block2 .wrap .arc .create {display:block; position:absolute; width:160px; height:35px; bottom:0; left:170px; margin-bottom: 40px; z-index:2; text-align:center; font-family: Russia; color:  #292929; font-size: 15px;}
          #block2 .wrap .arc .create p, #block2 .wrap .arc .create img{display:inline-block; position:relative;}
      #block2 .wrap .comand {display:block; position:relative; z-index:2; float: right; width:256px; height:248px; background-image:url(../images/bgcomand.png); border-radius:10px; box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);}
        #block2 .wrap .comand .title{display:block; position:relative; width:256px; height:40px; text-align: center;}
          #block2 .wrap .comand .title p, #block2 .wrap .comand .title img{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; font-family: Russia; color:  #000000; font-size: 18px; font-weight: 400;}
            #block2 .wrap .comand .title p{margin: 23px 15px 0 0}
            #block2 .wrap .comand .title img{margin-top: 20px}
        #block2 .wrap .comand .content {display:block; position:relative; width:225px; height:125px; margin:25px 0 0 26px;}
          #block2 .wrap .comand .content .member{margin:0px; padding:0px; border:0px; display:inline-block; position:relative; width:52px; height:52px; background-color:#d6d6d6; margin: 0 20px 20px 0;}
        #block2 .wrap .comand .bottom {display:block; position:relative; width:256px; height:30px; text-align:center; margin-top: 20px;}
          #block2 .wrap .comand .bottom p, #block2 .wrap .comand .bottom img{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; font-family: Russia; color:  #000000; font-size: 14px; font-weight: 400;}
          #block2 .wrap .comand .bottom p {padding: 0px 25px;}
      #block2 .wrap .graph {display:block; position:relative; width:954px; height:auto; margin-top:25px}
        #block2 .wrap .graph .left, #block2 .wrap .graph .right {display:inline-block; position:relative; width:475px; height:auto; vertical-align: top;}
          #block2 .wrap .graph .left .leftmenu, #block2 .wrap .graph .right .rightmenu{margin: 0;padding: 0px; border:0px; display:block; position:relative; width:478px; height:35px; vertical-align:top;}
          #block2 .wrap .graph .left .leftmenu{border-right:1px solid #a4d4cb;}
          #block2 .wrap .graph .right .rightmenu{border-left:1px solid #a4d4cb;}
            #block2 .wrap .graph .left .leftmenu ul, #block2 .wrap .graph .right .rightmenu ul{margin: 0;padding: 0px; border:0px;}
              #block2 .wrap .graph .left .leftmenu ul li {margin: 0;padding: 0px; border:0px; list-style:none; float: left; border-radius:3px 3px 0 0; padding:10px 10px 9px 12px;}
              #block2 .wrap .graph .right .rightmenu ul li{margin: 0;padding: 0px; border:0px; list-style:none; float: right; border-radius:3px 3px 0 0; padding:10px 10px 9px 12px;}
                #block2 .wrap .graph .left .leftmenu ul li a, #block2 .wrap .graph .right .rightmenu ul li a{text-decoration:underline; font-family: Calibri; color:  #6d6287; font-size: 16px; font-weight:bold}
              #block2 .wrap .graph .left .leftmenu .second, #block2 .wrap .graph .right .rightmenu .second{margin:0 40px;}
              #block2 .wrap .graph .left .leftmenu .first{margin-right:45px;}
              #block2 .wrap .graph .right .rightmenu .first{margin-left:45px;}
              #block2 .wrap .graph .left .leftmenu .active {background-color:#9084af;}
              #block2 .wrap .graph .right .rightmenu .active {background-color:#a4d4cb;}
                #block2 .wrap .graph .left .leftmenu .active a, #block2 .wrap .graph .right .rightmenu .active a{text-decoration:none; font-family: Calibri; color:  #ffffff; font-size: 16px; font-weight:bold; }
            #block2 .wrap .graph .left .leftgraph, #block2 .wrap .graph .right .rightgraph {margin: 0;padding: 0px; border:0px; display:block; position:relative; width:478px; height:300px; background-color:#ffffff; }
            #block2 .wrap .graph .left .leftgraph {box-shadow: inset 1px 0px 4px 0px rgba(0,0,0,0.5); border-right:1px solid #9084af;} 
            #block2 .wrap .graph .right .rightgraph {box-shadow: inset -1px 0px 4px 0px rgba(0,0,0,0.5); border-left:1px solid #9084af;}
      #block2 .wrap .graphics {display:block; position:relative; width:954px; height:auto; margin-top:5px}
        #block2 .wrap .graphics .views{display:inline-block; position:relative; width:90px; height:auto; vertical-align:top;}
          #block2 .wrap .graphics .views .view{display:inline-block; position:relative; vertical-align:middle; margin-right:10px; width:29px;}
        #block2 .wrap .graphics .minigraphics{display:inline-block; position:relative; width:850px; height:auto; vertical-align:top;}
          #block2 .wrap .graphics .minigraphics .month1, #block2 .wrap .graphics .minigraphics .month2 {display:inline-block; position:relative; width:320px; height:auto; vertical-align:top;}
            #block2 .wrap .graphics .minigraphics .top {display:block; position:relative; width:256px; height:30px; text-align:center; margin-top: 20px;}
              #block2 .wrap .graphics .minigraphics .top p, #block2 .wrap .comand .bottom img{margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; font-family: Calibri; color:  #000000; font-size: 15px; font-weight: bold;}
              #block2 .wrap .graphics .minigraphics .top p {padding: 0px 50px;}
            #block2 .wrap .graphics .minigraphics .minigraph {margin: 0;padding: 0px; border:0px; display:block; position:relative; width:290px; height:50px; border-right:3px solid #a4d4cb; border-left:3px solid #a4d4cb; border-bottom:2px solid #a4d4cb; background:url(../images/bgmingrph.png) no-repeat;}
          #block2 .wrap .graphics .minigraphics .months {margin: 0;padding: 0px; border:0px; display:inline-block; position:relative; width:140px; height:auto; vertical-align:top; margin-top: 60px;}
            #block2 .wrap .graphics .minigraphics .months ul {margin: 0;padding: 0px; border:0px;}
              #block2 .wrap .graphics .minigraphics .months ul li {margin: 0;padding: 0px; border:0px; list-style:none; float:left; padding:0px 5px; border-right:1px solid #a14530}
              #block2 .wrap .graphics .minigraphics .months .lastlink{margin: 0;padding: 0px; border:0px; padding:0px 3px;}
                #block2 .wrap .graphics .minigraphics .months ul li a{text-decoration:underline; font-family: Russia; color:  #a14530; font-size: 15px; font-weight:400}
  footer {display:block; position:relative; width:100%; height:auto; border-left:3px solid #e3d69e; border-right:3px solid #e3d69e; background-color: #f4f4f4; padding-top: 30px;}
    footer .letsrun {margin: 0;padding: 0px; border:0px; display:block; position:relative; width:100px; height:15px; margin:0 auto; margin-bottom:25px;}
      footer .letsrun span{font-family: Russia; color:  #585858; font-size: 12px; font-weight: 400;}
    footer .menufooter {margin: 0;padding: 0px; border:0px; display:block; position:relative; width:100%; height:40px; background-color:#a4d4cb; border-top: 3px solid #e3d69e;}
      footer .menufooter .menucenter{margin: 0;padding: 0px; border:0px; display:block; position:absolute; width:325px; height:55px; background-color:#9495b5; left: 50%; margin-left: -163px; margin-top: -15px; border-radius: 5px 5px 0 0; padding: 0 6px;}
        footer .menufooter .menucenter ul{margin: 0;padding: 0px; border:0px; margin-top: 20px;}
          footer .menufooter .menucenter ul li{margin: 0;padding: 0px; border:0px; list-style:none; float:left}
            footer .menufooter .menucenter ul li a{font-family: Russia; color:  #ffffff; font-size: 14px; font-weight: 400; text-decoration: none; margin:0 14px; vertical-align: top;}
      